:root {
  --principal: #e8d8c4;
  --secundatio: #c7b7a3;
  --terciario: #6d2932;
  --cuatiario: #561c24;
}
.createArticle {
  margin: 20px;
}
.mini-article-container {
  margin: 20rem;

  .miniArticle {
    transition: 0.2s;
    margin: 2rem 5px 5px 5px;
    border: 3px solid var(--cuatiario);
    padding: 10px;
    max-height: 20rem;
    min-height: 20rem;
    overflow: hidden;
    background-color: var(--secundatio);
    color: black;
    font-weight: 600;

    .title {
      color: black;
      font-weight: 700;
      font-size: 20px;
      text-overflow: ellipsis;
      overflow: hidden;
      max-height: 4rem;
      display: flex;
    }
    .description {
      overflow: hidden;
      height: 3rem;
    }
  }
  .column:hover {
    transform: scale(1.01);
    transition: 0.2s;
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
    cursor: pointer;
  }
  .port {
    height: 10rem;
    overflow: hidden;
  }
}
