:root {
  --principal: #e8d8c4;
  --secundatio: #c7b7a3;
  --terciario: #6d2932;
  --cuatiario: #561c24;
}
.titlee {
  font-family: "Rubik Burned", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 8rem;
  color: var(--principal);
  text-align: center;
  margin-top: 15%;
  filter: brightness(2);
}
.userName {
  margin-top: 50px;
  text-align: center;
  font-size: 20px;
  filter: brightness(2);
  color: var(--terciario);
}
