:root {
  --principal: #e8d8c4;
  --secundatio: #c7b7a3;
  --terciario: #6d2932;
  --cuatiario: #561c24;
}

html {
  background: linear-gradient(rgba(0, 0, 0, 0.628) 60%, #3200002d 120%),
    url(../public/img/gym.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.navbar {
  background-color: var(--secundatio);
  box-shadow: 2px 2px 2px black;
}
